<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		body{
			margin-left: 50px;
		}
		.bugname, .stats{
			font-size: 22pt;
		}
		.bugname{
			cursor: pointer;
		}
		section{
			margin-bottom: 10px;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		ol{
			width: 500px;
			-webkit-padding-start : 0px;
			list-style: none;
		}
		li{
			border : 2px solid gray;
			background-color: #e7e7e7;
			padding: 10px;
			border-radius: 5px;
			margin-bottom: 10px;
		}

	</style>
	<script src="angular.js"></script>
	<script type="text/stories">
		(done) 1. Add a bug
		(done) 2. List the bugs
		3. Toggle the 'closed' status of a bug
		4. Remove closed bugs
		5. Display statistics ( # of closed bugs / total # of bugs)
		6. Search for the bugs
		7. Sort the bugs
		8. Improve bug display
		9. Persist the bugs in the localStorage
		10. Display 'createdAt'
		11. Persist the bugs in the server
		12. Make the bugs accessible using unique URLs
	</script>
	<script>
		var bugTrackerApp = angular.module('bugTrackerApp', []);

		bugTrackerApp.controller('bugsController', function($scope){
			$scope.bugs = [];

			$scope.addNew = function(bugName){
				$scope.bugs.push(bugName)
			}
		});
	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<section class="content" ng-controller="bugsController">
		<section class="stats">
			<span class="closed">2</span>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Is Closed ? :</label>
			<input type="checkbox" name="" id="">
			<input type="button" value="Show All">
		</section>
		<section class="sort">
			<label for="">Order By :</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug Name :</label>
			<input type="text" ng-model="newBugName">
			<input type="button" value="Add New" ng-click="addNew(newBugName)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in bugs track by $index">
					<span class="bugname">{{bug}}</span>
					<div class="datetime">[created at]</div>
				</li>
			</ol>
			<input type="button" value="Remove Closed">
		</section>
	</section>
</body>
</html>